<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/font/fontawesome-free-6.2.1-web/css/all.min.css">

</head>

<body>
    <%- include('../includes/navigation.ejs') %>
	<h1>
		<!-- hello node js -->
	</h1>
	

<%- include('../includes/footer.ejs') %>

<script src="/js/googleMap/map.js"></script>