<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/font/fontawesome-free-6.2.1-web/css/all.min.css">
<link rel="stylesheet" href="/css/infoHome.css">

</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="container">
		<div class="infoHome_wrap">
			<div class="video_info">
				<iframe width="100%" height="100%" src="https://www.youtube.com/embed/RXSxA5_Sxqw?autoplay=1&mute=1" frameborder="0" allow="autoplay;" allowfullscreen></iframe>
			</div>
			<div class="info_gt">
				<p class="info_gt_title">
					Chào mừng quý vị và các bạn đã đến với trang web của nhóm điện tử thuộc khoa vật lý Trường Đại học Khoa học Tự nhiên - Đại học Quốc gia Hà Nội!
				</p>
				<p class="info_gt_param">
					Sản phẩm này được tạo ra với mực đích là nơi thí nghiệm, lưu chữ, xử lý dữ liệu và điều khiển một vài thiết bị iot do nhóm tạo ra, Sản phẩm gồm 2 phần: phần cứng và phần mềm,
					phần cứng nhóm sẽ nghiên cứu vào tạo ra một vài bộ thu thập dữ liệu từ môi trường cũng như thí nghiệm một vài thiết bị Iot do nhóm tạo ra...
					phần mềm là nơi kết nối để theo dõi dữ liệu được gửi lên từ máy tính có được dữ liệu và đưa ra mệnh lệnh điều khiển ngược lại các thiết bị iot.
				</p>
			</div>
			
		</div>
		<div class="infoHome_wrap">
			<div class="todo_list">
				<div class="todo_item">
					<div class="todo_img"></div>
					<div class="todo_des">
						<p class="todo_des-param">
							Mô tả sản phẩm và quá trình làm việc
						</p>
					</div>
				</div>
				
				<div class="todo_item">
					<div class="todo_img"></div>
					<div class="todo_des">
						<p class="todo_des-param">
							Mô tả sản phẩm và quá trình làm việc
						</p>
					</div>
				</div>
				
				<div class="todo_item">
					<div class="todo_img"></div>
					<div class="todo_des">
						<p class="todo_des-param">
							Mô tả sản phẩm và quá trình làm việc
						</p>
					</div>
				</div>
				
				<div class="todo_item">
					<div class="todo_img"></div>
					<div class="todo_des">
						<p class="todo_des-param">
							Mô tả sản phẩm và quá trình làm việc
						</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="infoHome_wrap-pp">
			<h1 class="infoHome_wrap_title">
				Thành viên
			</h1>
			
			<div class="infoHome_wrap_list">
				<div class="infoHome_wrap_item">
					<div class="infoHome_wrap_item-img"></div>
					<div class="infoHome_wrap_item-des">
						<p class="infoHome_wrap_item-name">Nguyễn Đương Thế</p>
						<p class="infoHome_wrap_item-param">
							<span>Khoa:</span>
							Vật lý
						</p>
						<p class="infoHome_wrap_item-param">
							<span>Khóa:</span>
							K64 VLC
						</p>
						<p class="infoHome_wrap_item-param">
							<span>Mã sinh viên:</span>
							19000595
						</p>
					</div>
				</div>
				
				<div class="infoHome_wrap_item">
					<div class="infoHome_wrap_item-img"></div>
					<div class="infoHome_wrap_item-des">
						<p class="infoHome_wrap_item-name">Nguyễn Đương Thế</p>
						<p class="infoHome_wrap_item-param">
							<span>Khoa:</span>
							Vật lý
						</p>
						<p class="infoHome_wrap_item-param">
							<span>Khóa:</span>
							K64 VLC
						</p>
						<p class="infoHome_wrap_item-param">
							<span>Mã sinh viên:</span>
							19000595
						</p>
					</div>
				</div>
				
				<div class="infoHome_wrap_item">
					<div class="infoHome_wrap_item-img"></div>
					<div class="infoHome_wrap_item-des">
						<p class="infoHome_wrap_item-name">Nguyễn Đương Thế</p>
						<p class="infoHome_wrap_item-param">
							<span>Khoa:</span>
							Vật lý
						</p>
						<p class="infoHome_wrap_item-param">
							<span>Khóa:</span>
							K64 VLC
						</p>
						<p class="infoHome_wrap_item-param">
							<span>Mã sinh viên:</span>
							19000595
						</p>
					</div>
				</div>
			</div>
			
		</div>
    </main>


<%- include('../includes/footer.ejs') %>

<script src="/js/hanldeScroll/hanldeScrollHeader.js"></script>
